<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Пользователи</title>
  <style type="text/css">
    TABLE {
      width: 300px; /* Ширина таблицы */
      border-collapse: collapse; /* Убираем двойные линии между ячейками */
    }
    TD, TH {
      padding: 3px; /* Поля вокруг содержимого таблицы */
      border: 1px solid black; /* Параметры рамки */
    }
    TH {
      background: #b0e0e6; /* Цвет фона */
    }
  </style>
</head>
<body>
<h2>Пользователи сервиса Sygnatore</h2>

<table>
  <tr>
    <th>Login</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Дата рождения</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.login}">VALUE</td>
    <td th:text="${user.firstName}">VALUE</td>
    <td th:text="${user.lastName}">VALUE</td>
    <td th:text="${user.birthDate}">VALUE</td>
  </tr>
</table>
<br>
<a href="/ui-all-position">Должности</a> <br>
<br>
<a href="/ui-all-signatory">Ответственные пользователи(Подписанты)</a> <br>
<br>
<a href="/ui-exit">Выход</a>
</body>
</html>

